{% comment %} {{ 'section-blog-post.css' | asset_url | stylesheet_tag }} {% endcomment %}
{% comment %} {{ 'custom-article.css' | asset_url | stylesheet_tag }} {% endcomment %}

<article class="article article-template" itemscope itemtype="http://schema.org/BlogPosting">
  {%- for block in section.blocks -%}
    {%- case block.type -%}

        {%- when 'content'-%}
          <div class="article-content" itemprop="articleBody" {{ block.shopify_attributes }}>
            <div class="container-fluid p-0">
              <div class="row">
                {{ article.content }}
              </div>
            </div>
          </div>

    {%- endcase -%}
  {%- endfor -%}
</article>

{% schema %}
{
  "name": "(ATK) Main Article",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "content",
      "name": "(ATK) Main Article",
      "limit": 1
    }
  ]
}
{% endschema %}
