<div class="template-404 page-width page-margin center">
  
  <h1 class="title">Page not found.</h1>
  <a href="/" class="button text-decoration-underline">Back to home</a>
</div>

{% schema %}
{
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
