@import "./mixin";

.block-editorial {
  padding: var(--spacing) var(--spacing) 7.5rem;

  p {
    max-width: var(--block-editorial-p-max-width);
  }
}

// :has is not yet working firefox
// ref https://caniuse.com/css-has
[class*=container]>.row>.row:has(.sticky-title) {}

.has-sticky {
  position: var(--article-container-row-with-sticky-title-display);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  background-color: white;
  z-index: 10;
  transition: top .4s;

  @include sm(min) {
  
    @include stickyElementFix($extraWidth: true);

    // [data-scroll-direction=down] & {
    //   top: 4rem;
    // }

    // [data-scroll-direction=down].submenu-open & {
    //   top: 6.7rem;
    // }
  
    // [data-scroll-direction=up] & {
    //   top: 8.4rem;
    // }

    // [data-scroll-direction=up].submenu-open & {
    //   top: 11rem;
    // }
  }

}


.sticky-title {
  padding: var(--spacing) 0;

  p {
    margin: 0;
  }
}