@import "./mixin";

.block-editorial {
  padding: var(--spacing) var(--spacing) 7.5rem;

  p {
    max-width: var(--block-editorial-p-max-width);
  }
}

// :has is not yet working firefox
// ref https://caniuse.com/css-has
// [class*=container]>.row>.row:has(.sticky-title) {}

.has-sticky {
  position: var(--article-container-row-with-sticky-title-display);
  padding: 0 var(--spacing);
  background-color: white;
  z-index: 10;
  transition: top .4s;

  @include sm(min) {
    @include stickyElementFix($extraWidth: false);
  }
}


.sticky-title {
  padding: var(--spacing) 0;

  p {
    margin: 0;
  }
}