@import "./mixin";

cart-items {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--cart-items-margin-bottom);
  padding: var(--spacing);

  &.is-empty {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    height: 60vh;

    .title {
      display: none;

      ~a {
        display: none;
      }
    }
  }

  .product-image {
    display: var(--cart-items-product-image-display);
    flex: var(--cart-items-product-image-flex);

    img {
      width: max(30vw, 25rem);
      height: auto;
      object-fit: contain;
      max-width: 100%;
    }
  }
}

#main-cart-footer {
  &.is-empty {
    display: none;
  }
}

.cart__footer-wrapper {
  margin-top: var(--cart-footer-wrapper-margin-top);
  padding: var(--spacing);

  >div {
    position: sticky;
    top: $block-size;
    transition: top .4s;
  
    @include bodyScrolling(up) {
      top: $block-size * 2;
    }
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.cart-item {
  display: flex;
  gap: var(--spacing);
}

.cart-product-size {
  margin-top: var(--cart-product-size-margin-top);
}

.cart-product-variant {
  display: flex;

  dt {
    display: flex;
    width: var(--cart-product-variant-width);
  }
}

.product-details {
  display: flex;
  flex-direction: column;
  flex: var(--product-details-flex);
}

quantity-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;

  input {
    width: 2rem;
    text-align: center;
    border: none;
  }
}

.quantity__button {
  width: var(--quantity-button-width);

  svg {
    max-width: 1rem;
  }
}

.product-quantity {
  display: flex;
  margin-top: var(--product-quantity-margin-top);

  label {
    width: var(--product-quantity-label-width);
  }
}

cart-remove-button {
  display: flex;
  margin-top: var(--cart-remove-button-margin-top);
  opacity: var(--cart-remove-button-opacity);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.cart-totals {
  display: flex;
  justify-content: space-between;
}

.cart__ctas {
  margin-top: var(--cart-ctas-margin-top);
  margin-bottom: 1.25rem;
}

.cart__dynamic-checkout-buttons {
  margin-bottom: 5.625rem;
}

#cart-errors {
  margin-bottom: 1.25rem;
}

.cart__footer_wrapper {
  isolation: isolate;
  z-index: 0;
}