@import "./mixin";

cart-items {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--cart-items-margin-bottom);
  padding: var(--spacing);

  &.is-empty {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    height: 60vh;

    .title {
      display: none;

      ~a {
        display: none;
      }
    }
  }

  .product-image {
    display: var(--cart-items-product-image-display);
    flex: var(--cart-items-product-image-flex);

    img {
      width: max(30vw, 25rem);
      height: auto;
      max-width: 100%;
      min-width: 10rem;
      object-fit: contain;
    }
  }
}

#main-cart-footer {
  &.is-empty {
    display: none;
  }
}

.cart__footer-wrapper {
  margin-top: var(--cart-footer-wrapper-margin-top);
  padding: var(--spacing);

  >div {
    position: var(--cart-footer-wrapper-display);
    top: $block-size;
    transition: top .4s;

    @include bodyScrolling(up) {
      top: $block-size * 2;
    }
  }
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.cart-item {
  display: flex;
  gap: var(--spacing);
}

.cart-product-size {
  margin-top: var(--cart-product-size-margin-top);
}

.cart-product-variant {
  display: flex;

  dt {
    display: flex;
    width: var(--cart-product-variant-width);
  }
}

.product-details {
  display: flex;
  flex-direction: column;
  flex: var(--product-details-flex);
}

quantity-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;

  input {
    width: 2rem;
    text-align: center;
    border: none;
  }
}

.quantity__button {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: var(--quantity-button-width);
  height: var(--quantity-button-height);

  svg {
    max-width: 1rem;
  }
}

.product-quantity {
  display: flex;
  margin-top: .5rem;

  .label,
  label {
    width: var(--product-quantity-label-width);
  }
}

cart-remove-button {
  display: flex;
  margin-top: var(--cart-remove-button-margin-top);
  opacity: var(--cart-remove-button-opacity);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.cart-totals {
  display: flex;
  justify-content: space-between;
}

.cart__ctas {
  margin-top: var(--cart-ctas-margin-top);
  margin-bottom: 1.25rem;
}

.cart__dynamic-checkout-buttons {
  margin-bottom: 5.625rem;
}
.cart__footer_wrapper {
  isolation: isolate;
  z-index: 0;
}

.main-order {
  margin-bottom: 10rem;

  .cart-product-image {
    width: max(30vw, 25rem);
    height: auto;
    max-width: 100%;
    min-width: 10rem;
    object-fit: contain;
  }
}

.account-order-details {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: var(--spacing);

  .order-breakdown {
    flex: 1 0 70%;
    width: 70%;
  }
}

.order-addresses {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  flex: 1 0 30%;
  width: 30%;

  h2 {
    margin-bottom: 1.5625rem;
  }
}


.cart-errors {
  //   margin-bottom: 1.25rem;
  height: 0;
  visibility: hidden;
  pointer-events: none;
}