@import "./mixin";

.collection-tools {
  position: sticky;
  background-color: white;

  body.header-open & {
    z-index: 10;
  }

  @include sm(min) {
    top: 3.625rem;
    padding: .5rem var(--spacing) 1rem;
    z-index: 10;
  }

  @include sm(max) {
    top: 2.2rem;
    padding: .5rem var(--spacing);

    body:not(.header-open) & {
      z-index: 12;
    }
  }

  &:not(.open) {
    .filter-open {
      display: flex;
    }

    .filter-close {
      display: none;
    }

    .collection-filter {
      display: none;
    }
  }

  &.open {
    .filter-close {
      display: flex;
    }

    .filter-open {
      display: none;
    }

    .collection-filter {
      display: grid;
    }
  }
}

.breadcrumb {
  >li+li:before {
    content: "/\00a0";
    margin: 0 0.5rem;
  }

}

.tools-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .open & {
    margin-bottom: 3.125rem;
  }
}

.filter-group {
  .title {
    margin-bottom: 1.25rem;
  }

  button {
    @include underlineOnHover();
  }
}

.filter-selector {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 9rem;

  >li {
    &.active {
      button {
        text-decoration: underline;
      }
    }
  }
}

.filter-open {
  &[data-count] {
    &:before {
      content: '('attr(data-count)')';
      display: inline-block;
      margin-right: .2rem;
    }
  }
}