@import "./mixin";

.collection-tools {
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: white;

  @include sm(min) {
    gap: var(--collection-tools-gap);
    padding: var(--spacing-v) var(--spacing) 1.75rem;
    z-index: 10;

    &:not([style]) {
      top: var(--section-header-height);
    }
  }

  @include sm(max) {
    padding: 1.875rem var(--spacing) var(--spacing);
    transition: padding-top .4s;

    body[data-scroll-direction=down] & {
      padding-top: var(--spacing-v);
    }

    body[data-scroll-direction=up] & {
      padding-top: calc(var(--spacing-v) * 2);
    }

    &:not([style]) {
      top: var(--root-navigation-height);
    }

    body:not(.header-open) & {
      z-index: 12;
    }
  }

  .collection-selector {
    flex-direction: column;
  }

  ul {
    display: flex;
    list-style: none;
  }

  body.header-open & {
    z-index: 10;
  }

  &:not(.open) {
    .filter-open {
      display: flex;
    }

    .filter-close {
      display: none;
    }

    .collection-filter {
      display: none;
    }
  }

  &.open {

    @include sm(max) {
      position: fixed;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      gap: var(--tools-header-margin-bottom);
      inset: 0;
      padding-top: 1.875rem;
      width: 100%;
      height: 100%;
    }

    .filter-close {
      display: flex;
    }

    .filter-open {
      display: none;
    }

    .collection-filter {
      display: var(--collection-filter-display);

      @include sm(max) {
        flex-direction: column;
        padding: var(--spacing) 0 10rem;
        height: calc(100vh - 9.5rem);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }

      ul {
        gap: var(--collection-filter-ul-gap);
      }
    }
  }
}


.breadcrumb {
  display: flex;
  flex-wrap: nowrap;

  >li+li:before {
    content: "/\00a0";
    margin: 0 0.3rem;
  }

  a {
    display: inline-flex;
  }
}

.tools-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  // .open & {
  //   margin-bottom: var(--tools-header-margin-bottom);
  // }
}

.filter-group {
  .title {
    margin-bottom: var(--filter-group-title-margin-bottom);
  }

  button {
    @include underlineOnHover();
    text-align: left;
  }
}

.filter-selector {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: var(--filter-selector-max-height);

  >li {
    &.active {
      button {
        text-decoration: underline;
      }
    }
  }
}

.filter-open {
  &[data-count] {
    &:before {
      content: '('attr(data-count)')';
      display: inline-block;
      margin-right: .2rem;
    }
  }
}

.collection-selector {
  @include sm(max) {
    display: flex;
    gap: .5rem;
  }

  a {
    display: inline-flex;
  }
}