@import "./mixin";

.collection-tools {
  position: sticky;
  background-color: white;
  transition: top .4s;

  @include sm(min) {

    @include stickyElementFix($extraWidth: false);
    // [data-scroll-direction=down] & {
    //   top: 4rem;
    // }

    // [data-scroll-direction=down].submenu-open & {
    //   top: 6.7rem;
    // }
  
    // [data-scroll-direction=up] & {
    //   top: 8.4rem;
    // }

    // [data-scroll-direction=up].submenu-open & {
    //   top: 11rem;
    // }
  }

  @include sm(max) {

    [data-scroll-direction=down] & {
      top: 2rem;
    }
  
    [data-scroll-direction=up] & {
      top: 4.2rem;
    }
  }

  .collection-selector {
    flex-direction: column;
  }

  ul {
    display: flex;
    list-style: none;
  }

  body.header-open & {
    z-index: 10;
  }

  @include sm(min) {
    padding: .5rem var(--spacing) 1rem;
    z-index: 10;
  }

  @include sm(max) {
    padding: .5rem var(--spacing);

    body:not(.header-open) & {
      z-index: 12;
    }
  }

  &:not(.open) {
    .filter-open {
      display: flex;
    }

    .filter-close {
      display: none;
    }

    .collection-filter {
      display: none;
    }
  }

  &.open {

    @include sm(max) {
      position: fixed;
      inset: 0;
      padding: 7rem var(--spacing) 0;
      width: 100%;
      height: 100%;
    }

    .filter-close {
      display: flex;
    }

    .filter-open {
      display: none;
    }

    .collection-filter {
      @include sm(min) {
        display: grid;
      }

      @include sm(max) {
        display: flex;
        flex-direction: column;
        padding: var(--spacing) 0 10rem;
        height: calc(100vh - 9.5rem);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
    }
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: nowrap;

  >li+li:before {
    content: "/\00a0";
    margin: 0 0.3rem;
  }

  a {
    display: inline-flex;
  }
}

.tools-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .open & {
    margin-bottom: var(--tools-header-margin-bottom);
  }

  // @include sm(min) {
  //   .open & {
  //     margin-bottom: 3.125rem;
  //   }
  // }

  // @include sm(max) {
  //   .open & {
  //     margin-bottom: var(--spacing);
  //   }
  // }
}

.filter-group {
  .title {
    margin-bottom: var(--filter-group-title-margin-bottom);

    // @include sm(min) {
    //   margin-bottom: 1.25rem;
    // }

    // @include sm(max) {
    //   margin-bottom: 1.5625rem;
    // }
  }

  button {
    @include underlineOnHover();
  }
}

.filter-selector {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--filter-selector-gap);
  max-height: 9rem;

  // @include sm(max) {
  //   gap: 0.5rem;
  // }

  >li {
    &.active {
      button {
        text-decoration: underline;
      }
    }
  }
}

.filter-open {
  &[data-count] {
    &:before {
      content: '('attr(data-count)')';
      display: inline-block;
      margin-right: .2rem;
    }
  }
}

@include sm(max) {
  .collection-selector {
    display: flex;
    gap: .5rem;
  }
}