:root {
  --font-family: 'Unica 77 LL', sans-serif;
  --base-font-size: 1rem;

  --base-color: #000;
  --color-foreground: #000;
  --color-button-text: #000;

}


@media (max-width: 575px) {
  :root {
    --spacing: 0.625rem;
    --row-gap: 2.5rem;
    --line-height: 1.1875rem;
    --body-font-size: 1rem;
  }
}

@media (min-width: 576px) {
  :root {
    --spacing: 1.25rem;
    --row-gap: 3.75rem;
    --line-height: 1.75rem;
    --body-font-size: 1.3125rem;
  }
}