@import "./mixin";

footer {
  .grid {
    padding: var(--spacing);
    height: var(--footer-grid-height);
    min-height: var(--footer-grid-min-height);
    transition: height .4s;
    
    // @include sm(min) {
    //   height: 95vh;
    //   min-height: 35rem;
    // }

    // @include sm(max) {
    //   height: 25rem;
    // }
  }

  @include sm(max) {
    &.open {
      .grid {
        height: 30rem;
      }
    }
  }

  .list-menu__item--link {
    display: flex;
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: transparent no-repeat center center/calc(100% - calc(var(--spacing) * 2));

  .grid {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    >div {
      &:nth-child(even) {

        @include sm(min) {
          text-align: right;
        }

        ul {
          display: flex;
          flex-direction: var(--grid-footer-grid-even-div-flex-direction);
          justify-content: var(--grid-footer-grid-even-div-justify-content);
          align-items: var(--grid-footer-grid-even-div-align-items);
          gap: var(--grid-footer-grid-even-div-gap);
        }
      }
    }
  }

  .grid {
    >div {
      transition: transform .4s, top .4s;
    }
  }

  label {
    transition: transform .4s;
  }

  &:not(.open) {
    .newsletter-form__input,
    .newsletter-form__button {
      height: 0;
      // visibility: hidden;
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
    }

    input {
      transform: translate3d(0, 100%, 0);
    }
  }

  &.open {
    .grid {
      >div {
        &:nth-child(even) {
          transform: translate3d(0, -3.21875rem, 0);
        }
      }
    }

    .field-inner {
      label {
        transform: translate3d(0, -1.25rem, 0);
      }
    }

    input {
      transform: translate3d(0, 0, 0);
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5625rem;
    margin: 0;
  }

  input {
    width: 50vw;
    border: none;
    outline: none;
    white-space: nowrap;
  }

  .field {
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;
    align-items: flex-end;
    gap: 4rem;
  }

  .field-inner {
    display: flex;
    flex-direction: column;
    flex: 1 0;

    &:has(input:invalid)~button[type=submit] {
      opacity: .3;
    }
  }
}

.footer-block__newsletter {

  .field-inner {
    @include sm(min) {
      position: absolute;
      bottom: 1.25rem;
      left: 1.25rem;
      z-index: 15;
    }

    @include sm(max) {
      position: static;
      footer & {
        margin-top: 2rem;
        padding: 0 var(--spacing) var(--spacing);
      }
    }
  }

  .newsletter-form__button {
    position: absolute;
    bottom: var(--spacing);
    right: var(--spacing);
    z-index: 15;
    transition: opacity .4s;
  }
}

.footer-block--menu {
  position: var(--footer-block-menu-display);
  top: $block-size;
  z-index: 10;

  @include bodyScrolling(up) {
    top: $block-size * 2;
  }
}

.newsletter-form__input {
  transition: all .4s;
}