@import "./mixin";

footer {
  isolation: isolate;
  z-index: 1;
  
  .grid {
    padding: var(--spacing);
    height: var(--footer-grid-height);
    min-height: var(--footer-grid-min-height);
    transition: height .4s;
    gap: var(--footer-grid-gap);
  }

  .list-menu__item--link {
    display: flex;
  }
}

.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  @include sm(min) {
    background: transparent no-repeat center center/calc(100% - calc(var(--spacing) * 2));
  }

  @include sm(max) {
    background-image: none !important;
  }

  .grid {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;

    >div {
      &:nth-child(even) {

        @include sm(min) {
          text-align: right;
        }

        ul {
          display: flex;
          flex-direction: var(--grid-footer-grid-even-div-flex-direction);
          justify-content: var(--grid-footer-grid-even-div-justify-content);
          align-items: var(--grid-footer-grid-even-div-align-items);
          gap: var(--grid-footer-grid-even-div-gap);
        }
      }
    }
  }

  .grid {
    >div {
      transition: transform .4s, top .4s;
    }
  }

  label {
    transition: transform .4s;
  }

  &:not(.open) {

    .newsletter-form__input,
    .newsletter-form__button {
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
    }

    .field-inner {
      label {
        transform: translate3d(0, var(--line-height), 0);
      }
    }

    .newsletter-form__input,
    .newsletter-form__button {
      transform: translate3d(0, 100%, 0);
    }
  }

  &.open {
    .grid {
      >div {
        &:nth-child(even) {
          transform: translate3d(0, 0, 0);
        }
      }
    }

    .field-inner {
      label {
        transform: translate3d(0, calc(var(--spacing) * -1), 0);
      }
    }

    .newsletter-form__input,
    .newsletter-form__button {
      transform: translate3d(0, 0, 0);
    }

    .field-inner {
      &:has(input:invalid)~button[type=submit] {
        opacity: .3;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5625rem;
    margin: 0;
  }

  input:not([type=hidden]) {
    width: 50vw;
    border: none;
    outline: none;
    white-space: nowrap;
  }

  .field {
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;
    align-items: flex-end;
    gap: 4rem;
  }

  .field-inner {
    display: flex;
    flex-direction: column;
    flex: 1 0;
  }
}

.footer-block__newsletter {

  .field-inner {
    @include sm(min) {
      position: absolute;
      top: 1.25rem;
      left: 1.25rem;
      z-index: 15;
    }

    @include sm(max) {
      position: static;

      footer & {
        margin-top: 2rem;
        padding: 0 var(--spacing) var(--spacing);
      }
    }
  }

  .newsletter-form__button {
    position: absolute;
    bottom: var(--spacing);
    right: var(--spacing);
    z-index: 15;
    
    footer & {
      margin-top: var(--line-height);
    }
  }
}

.footer-block--menu {
  top: $block-size;
  z-index: 10;

  @include bodyScrolling(up) {
    top: $block-size * 2;
  }
}

.newsletter-form__input,
.newsletter-form__button {
  transition: all .4s;
}

.footer-logo {
  order: 2;
  
  @include sm(min) {
    display: none;
  }

  img {
    width: 100%;
    height: auto;
  }
}


@include sm(max) {
  .footer__blocks-wrapper {
    display: flex;
    flex-direction: column;
  
    > div:nth-child(2) {
      order: 3;
    }
  }
}