@import "./mixin";

.section-header {
  position: sticky;
  background-color: white;
  z-index: 12;

  @include sm(min) {
    top: -$block-size;
  }

  @include sm(max) {
    body:not(.collection-tools-open) & {
      top: -2.45rem;
    }

    body.collection-tools-open & {
      top: 0;
    }
  }
}

body {

  // &.collection-tools-open,
  &.header-open {
    overflow: hidden;
  }

  @include sm(max) {
    &.collection-tools-open {
      .section-header {
        z-index: 13;
      }
    }

    &:not(.header-open) {
      .mobile-navs {
        display: none;
      }
    }
  }
}

header {
  background: #fff;

  // objective: keep 40px gap between footer menu and newsletter-signup section
  // that's when the newsletter-signup is expanded
  .footer {
    ul {
      transition: transform .4s;
      transform: translate3d(0, 0, 0);
    }

    &.open {
      ul {
        transform: translate3d(0, -2.5rem, 0);
      }
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;

  @include sm(max) {
    body:not(.header-open) &.desktop {
      display: none;
    }

    &:not(:empty) {
      &.mobile {

        // smaller menu height for (n) of templates
        // product, page, article, cart, etc..
        html:not(.t-product):not(.t-page):not(.t-article):not(.t-cart) & {
          padding-bottom: 2rem;
        }
      }
    }

  }

  @include sm(min) {
    &.desktop {
      position: sticky;
    }

    &.mobile,
    &.footer {
      display: none;
    }
  }

  &:not(:empty) {
    padding: var(--spacing);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    row-gap: .5rem;

    @include sm(min) {
      gap: 1rem;
    }
  }

  &.n-level {
    padding-top: 0;

    &:not(:empty) {
      padding-bottom: 1rem;
    }
  }

  &.footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2.5rem;
  }

  a {
    display: flex;
    flex: 1;
  }

  summary,
  a,
  button {
    user-select: none;
  }
}

summary {
  &::marker {
    content: '';
  }

  &[aria-expanded="true"] {
    text-decoration: underline;
  }
}


button {
  &.focus-inset {
    @include visuallyHidden();
  }
}


.has-submenu {
  >div {
    position: absolute;
    display: flex;
  }
}

cart-items-counter {
  display: flex;
}

a {
  &.menu-drawer__menu-item--active {
    text-decoration: underline;
  }
}

.newsletter-form__message--success {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  padding: 0 var(--spacing);

  svg {
    max-width: 1.5rem;
  }
}