@import "./mixin";

@include sm(max) {
  header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;

    body.header-open & {
      position: fixed;
      inset: 0;
      width: 100%;
      height: 100%;
    }

    &.submenu-open {
      nav {
        &.desktop {
          display: none;
        }
      }
    }
  }

  nav {
    &.desktop {
      flex-direction: column;
      align-items: flex-start;

      .cart-nav {
        display: none;
      }
    }

    &.root_navigation {
      order: 1;
    }

    &.n-level {
      &:empty {
        display: none;
      }
    }
  }

  header,
  footer {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: var(--spacing);
    }
  }

  .mobile-navs {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }
}

.close-submenu {
  @include sm(min) {
    display: none;
  }

  margin-bottom: 2.5rem;
}