@import "./mixin";


.account-related {
  margin-top: 0.625rem;
  padding: var(--spacing);
  min-height: 80vh;

  form {
    margin-top: 3.125rem;
  }

  .field {
    &+.field {
      margin-top: 0.5625rem;
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      visibility: hidden;
    }

    input {
      border: none;
      white-space: nowrap;

      &,
      &:focus,
      &:hover,
      &:active {
        outline: none;
      }

      &::placeholder {
        color: rgb(0 0 0 / 30%);
      }

    }
  }
}

#recover {

  &,
  &+div {
    display: none;
  }

  &:target {
    display: block;

    &+div {
      display: block;
    }

    &~#login {

      &,
      &+div {
        display: none;
      }
    }
  }
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5625rem;
  margin-top: 3.125rem;
}

.form__message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: .5rem;

  &+.field {
    margin-top: var(--spacing);
  }

  svg {
    width: 1.5rem;
    aspect-ratio: 1;
  }
}

.errors {
  margin-bottom: var(--spacing);
}

[autofocus] {
  outline: none;
}

@include sm(min) {
  .newsletter-form__message--success {
    position: absolute;
    bottom: 3rem;
    left: 0;
  }
}

.overview {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 3.125rem;

  .orders-overview {
    flex: 1 1 70%;
    width: 70%;
  }

  .account-overview {
    flex: 1 1 30%;
    width: 30%;
  }
}

.account-overview {
  h2 {
    margin-bottom: 1.5625rem;
  }
}