@import "./mixin";


.account-related {
  margin-top: 0.625rem;
  padding: var(--spacing);
  min-height: 80vh;

  form {
    margin-top: 3.125rem;
  }

  .field {
    &+.field {
      margin-top: 0.5625rem;
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      visibility: hidden;
    }

    input {
      border: none;
      white-space: nowrap;

      &,
      &:focus,
      &:hover,
      &:active {
        outline: none;
      }

      &::placeholder {
        color: rgb(0 0 0 / 30%);
      }

    }
  }
}

#recover {

  &,
  &+div {
    display: none;
  }

  &:target {
    display: block;

    &+div {
      display: block;
    }

    &~#login {

      &,
      &+div {
        display: none;
      }
    }
  }
}

.form__message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: .5rem;
  
  @include sm(max) {
    padding: 0 var(--spacing);
  }

  &+.field {
    margin-top: var(--spacing);
  }

  svg {
    width: 1.5rem;
    aspect-ratio: 1;
  }
}

.errors {
  margin-bottom: var(--spacing);
}

[autofocus] {
  outline: none;
}

@include sm(min) {
  .newsletter-form__message--success {
    position: absolute;
    bottom: 3rem;
    left: 0;
    transition: bottom .4s;

    .footer.open & {
      bottom: 6rem;
    }
  }
}

.account-related-content {
  margin-top: 3.125rem;
}

.overview {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 1rem;

  .orders-overview {
    flex: 1 1 70%;
    width: 70%;
  }

  .account-overview {
    flex: 1 1 30%;
    width: 30%;
  }
}

.section-overview {
  h2 {
    margin-bottom: 1.5625rem;
  }
}

.update-address {
  display: flex;
  margin-top: 3.125rem;
}

.orders-overview {
  p {
    margin-bottom: 0.625rem;
  }
}

.action-buttons {
  display: flex;
  align-items: flex-start;
  margin-top: 3.125rem;

  form & {
    margin-top: 2rem;
  }

  &:not(.custom-gap) {
    gap: 0.5625rem;
  }

  &:not(.custom-flex-direction) {
    flex-direction: column;
  }

  &:has(>button[aria-expanded=true]) {
    &+.action-related {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &:has(>button[aria-expanded=false]) {
    &+.action-related {
      display: none;
    }
  }
}

.address-count {
  margin-bottom: 1.5625rem;
}

.main-addresses {
  .action-buttons {
    flex-direction: row;
    gap: 1.25rem;
  }
}

.main-addresses-list {
  li {
    >p {
      min-height: 10.5rem;
    }
  }
}

.action-related {
  padding: var(--spacing) 0;
}


.account-table {
  width: 100%;
  text-align: left;

  th {
    padding-bottom: 1.5625rem;
  }
}