@use "sass:math";
@import "./mixin.scss";

* {

  &,
  &:before,
  &:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: box-sizing;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-break: break-word;
    -webkit-tap-highlight-color: transparent;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    touch-callout: none;
    user-drag: none;
    user-select: text;
  }
}

::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
  box-sizing: border-box;
  text-underline-offset: 4px;

  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: none;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;


}

.sticky {
  position: sticky;
  top: 0;
}

html,
body {
  font-family: var(--font-family);
}

body {
  line-height: 1.75rem;
  font-size: var(--body-font-size);
  font-weight: bold;
}

::marker {
  content: '';
}

a {

  &:not(.hover-underline) {
    text-decoration: none
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

a {

  &,
  &:hover,
  &:focus {

    &,
    span,
    i,
    div,
    p {
      color: inherit;
    }
  }
}

ul {
  &:not(.custom-padding) {
    margin: 0;
    padding: 0;
  }
}


.row {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;

  >* {
    --bs-gutter-x: 0px;
    --bs-gutter-y: 0px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
a,
button,
input,
label,
main,
aside,
footer,
header,
blockquote,
section,
address,
dl,
dd,
ul,
li,
ol,
abbr,
code,
data,
small,
span,
textarea,
select,
figure,
figcaption,
strong,
i,
p,
div,
article,
table,
tr,
td,
thead,
tbody,
tfoot {
  // margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

::placeholder {
  font-weight: bold;
  color: var(--base-color);
}

button {
  &:not(.custom-border) {
    border: none;
    background-color: transparent;

    &:hover,
    &:focus,
    &:active {
      border: none;
      background-color: transparent;
    }
  }
}

[class*="16x9"] {
  aspect-ratio: 16/9;
}

[class*="9x16"] {
  aspect-ratio: 9/16;
}

[class*="1x1"] {
  aspect-ratio: 1;
}

[class*="21x9"] {
  aspect-ratio: 21/9;
}

[class*="9x21"] {
  aspect-ratio: 9/21;
}

[class*="4x3"] {
  aspect-ratio: 4/3;
}

[class*="3x4"] {
  aspect-ratio: 3/4;
}

.underline-on-hover {
  @include underlineOnHover();
}

// imports 


@import "./header.scss";
@import "./footer.scss";
@import "./page.scss";
@import "./embed.scss";
@import "./collection.scss";
@import "./collection-tools.scss";
@import "./product.scss";
@import "./product-recommendations.scss";
@import "./product-care.scss";
@import "./article.scss";