@import "./mixin";

.container-fluid,
.t-404,
.t-page {
  section {
    line-height: 1.75rem;

    h1,
    h2,
    h3,
    h4,
    h4,
    h6 {
      margin-bottom: 0.625rem;
    }

    >div {
      display: flex;
      flex-direction: column;
      padding: 1.25rem;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 1.25rem;
      }
    }
  }
}

.t-page {
  section {
    width: 50%;
  }
}

.t-404 {
  section {
    padding-bottom: 90vmin;
  }
}