@import "./mixin";

.container-fluid,
.t-collection,
.t-404,
.t-page {
  section {

    h1,
    h2,
    h3,
    h4,
    h4,
    h6 {
      margin-bottom: 0.625rem;
    }

    >div:not(.custom-padding) {
      display: flex;
      flex-direction: column;
      padding: var(--spacing);
    }

    p {
      &:not(:last-child) {
        margin-bottom: var(--spacing);
      }
    }
  }
}

.t-page {
  main {
    margin-bottom: 10rem;
  }

  section {
    max-width: var(--page-template-section-p-max-width);
  }
}

.t-index,
.t-article {
  section {
    p {
      max-width: var(--article-template-section-p-max-width);
    }

    .sticky {
      top: $block-size;
    }
  }

  [class*=col-]>p {
    padding-left: var(--spacing);
  }

  .article-content {
    margin-bottom: 10rem;
  }
}

.t-cart {
  main {
    display: flex;
    flex-direction: var(--cart-template-main-flex-direction);
    justify-content: flex-start;
    gap: var(--cart-template-main-gap);

    @include sm(min) {

      >.main-cart-items {
        flex: 1 0 66%;
        max-width: 66%;
      }
    }

    >div {
      justify-content: flex-start;
      align-items: flex-start;
    }

    >.cart__footer-wrapper {
      flex: 1;
    }
  }
}

.t-collection,
.t-index,
.t-product,
.t-checkout {

  .shopify-section-footer,
  main {
    overflow-anchor: none;
  }
}

.t-article {
  article {
    padding-top: var(--spacing-v);

    .el-block-reverse {
      p {
        padding-left: var(--spacing);
      }
    }

    .el-block {
      p {
        padding: 0 var(--spacing);
      }
    }
  }
}

.t-product {
  .css-grid {
    position: relative;
    margin: 0 auto;
    width: calc(100% - calc(var(--spacing) * 2));
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.f-calc {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing);
  margin: 0 auto;
  width: calc(100% - calc(var(--spacing) * 2));
  height: 0;

  >div {
    display: flex;
    flex: 1;
  }
}