@import "./mixin";

.shopify-product {
  padding: 1.25rem;
}

.product-size-variants {
  display: flex;
  gap: 1rem;
  margin: 3.125rem 0;

  &.open {
    .size-guide-open {
      display: none
    }
  }

  &:not(.open) {
    .size-guide-close {
      display: none;
    }

    &~.product-size-guide {
      display: none;
    }
  }
}

.product-size-guide {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
  margin: 1.625rem auto 3.125rem;

  >div {
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: flex-end;
  }

  button {
    width: 3rem;
    text-align: left;
  }

  // revise
  &:hover {
    button {
      opacity: .3;
    }

    >div:hover button {
      opacity: 1;
    }
  }
}

.product-metadata {
  margin-top: 10rem;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  >button {
    &.active {
      text-decoration: underline;
    }
  }
}

.shopify-product {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;

  >div {
    flex: 1 0 50%;
    width: 100%;
    max-width: calc(50% - 1.25rem);
  }

}

.product-info {
  position: sticky;
  top: $block-size;
}

.product-images {
  display: flex;
  flex-direction: column;
  gap: 4.375rem;

  img {
    max-width: 100%;
    height: auto;
    width: 100%;
    object-fit: contain;
  }
}

.product-image-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.25rem;
  width: 100%;
}

.image-index {
  position: sticky;
  display: block;
  top: 64px;
  width: 100%;
  text-align: right;
  background-color: white;
  z-index: 10;
}

.product-add-to-cart {
  position: relative;

  svg.spinner {
    position: absolute;
    width: 6.5rem;
    aspect-ratio: 1;
    top: 2rem;
    left: 0;
  }
}

.tab-content {
  &:not(.open) {
    display: none;
  }
}