@import "./mixin";

.shopify-product {
  padding: 1.25rem;
}

.product-size-variants {
  display: flex;
  gap: 1rem;
  margin: 3.125rem 0;

  &.open {
    .size-guide-open {
      display: none
    }
  }

  &:not(.open) {
    .size-guide-close {
      display: none;
    }

    &~.product-size-guide {
      display: none;
    }
  }
}

.product-size {
  &.active {
    text-decoration: underline;
  }
}

.product-size-guide {
  display: flex;
  flex-direction: row;
  margin: 2rem auto 3.125rem;

  >div {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.5625rem;
    width: 100%;
    text-align: right;
  }

  button {
    width: 3rem;
    text-align: left;
  }

  // revise
  &:hover {
    button:not(.size-group) {
      opacity: .3;
    }

    >div:hover button {
      opacity: 1;
    }
  }
}

.product-metadata {
  margin-top: 10rem;
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;

  >button {
    &.active {
      text-decoration: underline;
    }
  }
}

.shopify-product {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;

  >div {
    flex: 1 0 50%;
    width: 100%;
    max-width: calc(50% - 1.25rem);
  }

}

.product-info {
  position: sticky;
  top: $block-size;
}

.product-images {
  display: flex;
  flex-direction: column;
  gap: 4.375rem;

  img {
    max-width: 100%;
    height: auto;
    width: 100%;
    object-fit: contain;
  }
}

.product-image-preview {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.25rem;
  width: 100%;
}

.image-index {
  position: sticky;
  display: block;
  top: 64px;
  width: 100%;
  text-align: right;
  background-color: white;
  z-index: 10;
}

.product-add-to-cart {
  position: relative;
}

.tab-content {
  &:not(.open) {
    display: none;
  }
}

product-form {
  button {
    display: flex;
    gap: 0.5rem;
  }
}
