@import "./mixin";

product-recommendations {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  width: 100%;

  @include sm(min) {
    margin: 10rem auto 10.625rem;
  }

  @include sm(max) {
    margin: 3.125rem auto 4.625rem;
  }
  
  .media {
    margin-bottom: 1.25rem;
  }

  .price__sale {
    display: none;
  }

  .grid__item {
    position: relative;

    @include sm(min) {
      padding-bottom: 3rem;
    }
  }

  .card__heading {
    margin-bottom: 1.25rem;
  }
}

.recommendations-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.25rem;
  width: 100%;
}

.product-grid {
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }
}

.card__heading {
  a {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }
}