@import "./mixin";


.product-care {
  padding: var(--spacing);

  @include sm(min) {
    margin-bottom: 10rem;
  }

  @include sm(max) {
    margin-bottom: 6.25rem;
  }

  .row {
    >div {
      >div {
        position: sticky;
        top: $block-size;
        z-index: 10;
      }
    }
  }

  @include lg(min) {
    p {
      max-width: 50%;
    }
  }

  @include sm(max) {
    div {
      line-height: 1.1875rem;
    }
  }
}