@import "./mixin";


.product-care {
  padding: var(--spacing);
  margin-bottom: var(--product-care-margin-bottom);

  // @include sm(min) {
  //   margin-bottom: 10rem;
  // }

  // @include sm(max) {
  //   margin-bottom: 6.25rem;
  // }

  .row {
    >div {
      >div {
        position: sticky;
        top: $block-size;
        z-index: 10;
      }
    }
  }

  p {
    max-width: var(--product-care-p-max-width);
  }

  // @include lg(min) {
  //   p {
  //     max-width: 50%;
  //   }
  // }
}