@import "./mixin";

product-recommendations {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  padding: 1.25rem;
  width: 100%;

  .media {
    margin-bottom: 1.25rem;
  }

  .price__sale {
    display: none;
  }

  .grid__item {
    position: relative;
    padding-bottom: 3rem;
  }

  .card__heading {
    margin-bottom: 1.25rem;
  }
}

.recommendations-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.25rem;
  width: 100%;
}

.product-grid {
  img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: contain;
  }
}