@import "./mixin";


.product-care {
  margin-bottom: 10rem;
  padding: var(--spacing);

  .row {
    >div {
      >div {
        position: sticky;
        top: $block-size;
        z-index: 10;
      }
    }
  }

  @include lg(min) {
    p {
      max-width: 50%;
    }
  }
}