@import "./mixin";

.shopify-product {
  display: flex;

  @include sm(min) {
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 0;
    padding: var(--spacing-v) var(--spacing);
  }

  @include sm(max) {
    flex-direction: column-reverse;
    gap: 1.25rem;

    >div {
      flex: 1;
      max-width: none;
    }
  }


  >div {
    width: 100%;

    @include sm(min) {
      flex: 1 0 50%;

      &:not(.custom-max-width) {
        max-width: 50%;
      }
    }

    @include sm(max) {
      flex: 1;
    }
  }
}

.product-size-variants {
  display: flex;

  @include sm(min) {
    gap: 1rem;
    margin: 3.125rem 0;
  }

  @include sm(max) {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 0.875rem;
    margin-top: 2.5rem;

    &:not(.open) {
      margin-bottom: 2.5rem;
    }
  }

  &.open {
    .size-guide-open {
      display: none
    }
  }

  &:not(.open) {
    .size-guide-close {
      display: none;
    }

    &~.product-size-guide {
      display: none;
    }
  }
}

.product-size {
  white-space: nowrap;

  &.active {
    text-decoration: underline;
  }
}

.product-size-guide {
  display: flex;
  flex-direction: row;

  @include sm(min) {
    margin: 2rem auto 3.125rem;
  }

  @include sm(max) {
    flex: 1;
    margin: 1.875rem auto 3.125rem;
    width: calc(100vw - calc(var(--spacing) * 2));
    max-width: calc(100vw - calc(var(--spacing) * 2));
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  >div {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.5625rem;
    width: 100%;
    text-align: right;

    @include sm(max) {
      &:first-child {
        position: sticky;
        top: 0;
        left: 0;
        background: white;
        z-index: 1;
      }
    }
  }

  button {
    width: 3rem;
    text-align: left;
  }

  // revise
  &:hover {
    button:not(.size-group) {
      opacity: .3;
    }

    >div:hover button {
      opacity: 1;
    }
  }
}

.product-metadata {
  margin-top: var(--product-metadata-margin-top);

  @include sm(max) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .tabs {
      display: none
    }

    .tab-content {
      line-height: 1.1875rem;

      &.open {
        margin-top: var(--spacing);

        &+.tab-mobile-btn {
          margin-top: 2rem;
        }
      }

      &:not(.open)+.tab-mobile-btn {
        margin-top: var(--spacing);
      }
    }
  }

  button {
    span {
      display: flex;
    }
  }
}

.tab-content {
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.content-tab-btn {
  white-space: nowrap;

  &.active {
    text-decoration: underline;
  }
}

.product-info {
  position: var(--product-info-display);
  height: var(--product-info-height);
  max-width: calc(50% - var(--spacing));

  @include sm(min) {
    &:not([style]) {
      top: var(--header-collapsed-top);
    }
  }

  @include sm(max) {
    padding: 0 var(--spacing) var(--spacing);
  }
}

.product-images {
  display: flex;
  margin-top: var(--product-images-margin-top);

  @include sm(min) {
    flex-direction: column;
    gap: 4.375rem;
  }

  @include sm(max) {
    flex-direction: row;
    gap: var(--spacing);
    padding: 0 var(--spacing);

    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  img {
    width: var(--product-image-img-width);
    height: var(--product-image-img-height);
    max-width: var(--product-image-img-max-width);
    object-fit: contain;
  }
}

.product-image-preview {
  display: flex;
  flex-direction: column;
  align-items: var(--product-image-preview-align-items);
  width: 100%;
}

.image-index {
  position: var(--product-image-index-display);
  display: var(--image-index-display);
  padding-bottom: var(--spacing);
  width: 100%;
  text-align: right;
  background-color: white;
  z-index: 10;

  &:before {
    content: '';
    position: absolute;
    top: calc(var(--spacing-v) * -1);
    left: 0;
    width: 100%;
    height: var(--spacing-v);
    background: white;
    pointer-events: none;
  }

  &:not([style]) {
    top: var(--header-collapsed-top);
  }
}

.product-add-to-cart {
  position: relative;
}

.tab-content {
  &:not(.open) {
    display: none;
  }
}

product-form {
  button {
    display: flex;
    gap: 0.5rem;
  }
}

.product-anchor {
  display: flex;
  flex-direction: column;
}

.product-info-list {
  list-style: none;

  @include sm(max) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }
}


.tab-mobile-btn {
  display: var(--tab-mobile-btn-display);
}

@include sm(min) {
  .product-info-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: var(--product-metadata-margin-top);
  }
}

variant-radios {
  fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: .5rem;
  }
}

.shopify-variant {
  position: relative;

  input {
    position: absolute;
    inset: 0;
    border: none;
    outline: none;
    -webkit-apperance: none;
    appearance: none;
    opacity: 0;
    cursor: pointer;

    &:checked+label {
      text-decoration: underline;
    }
  }
}